@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62,5%;
}

header{
    color: white;
    background-color: aquamarine;
    text-align: center;
}

img.redimension{
    max-width:25%;
    max-height: 25%;
}

nav a{
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}

nav a:hover{
    color:#ccc;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
}

.centrar{
    text-align: center;
}

img.redimension2{
    max-width: 100%;
    max-height: 100%;
}

img.redimension3{
    max-width: 40%;
    max-height: 40%;
    justify-content:center;
    
}

form{
	width:600px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#ccc;
}

form label{
	width:72px;
	font-weight:bold;
	display:inline-block;
}

form input[type="text"],
form input[type="E-mail"]{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}

textarea{
	width:50%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
	/*resize: vertical | horizontal | none | both*/
	resize:none;
	display:box;
}

footer{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: center;
}

